<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.mapper.ErpFunctionMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.model.ErpFunction" >
    <constructor >
      <idArg column="fId" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="path" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parameter" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="method" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fDesc" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    fId, fName, path, parameter, method, fDesc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from erpfunction
    where fId = #{fid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from erpfunction
    where fId = #{fid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.model.ErpFunction" >
    insert into erpfunction (fId, fName, path, 
      parameter, method, fDesc
      )
    values (#{fid,jdbcType=BIGINT}, #{fname,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, 
      #{parameter,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{fdesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.model.ErpFunction" >
    insert into erpfunction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fId,
      </if>
      <if test="fname != null" >
        fName,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="parameter != null" >
        parameter,
      </if>
      <if test="method != null" >
        method,
      </if>
      <if test="fdesc != null" >
        fDesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=BIGINT},
      </if>
      <if test="fname != null" >
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="fdesc != null" >
        #{fdesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.model.ErpFunction" >
    update erpfunction
    <set >
      <if test="fname != null" >
        fName = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="parameter != null" >
        parameter = #{parameter,jdbcType=VARCHAR},
      </if>
      <if test="method != null" >
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="fdesc != null" >
        fDesc = #{fdesc,jdbcType=VARCHAR},
      </if>
    </set>
    where fId = #{fid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.model.ErpFunction" >
    update erpfunction
    set fName = #{fname,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      parameter = #{parameter,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      fDesc = #{fdesc,jdbcType=VARCHAR}
    where fId = #{fid,jdbcType=BIGINT}
  </update>
</mapper>