<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.mapper.ErpRightMapper" >
  <resultMap id="BaseResultMap" type="com.zking.erp.model.ErpRight" >
    <constructor >
      <idArg column="rCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rParentCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rText" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rUrl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="rTip" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    rCode, rParentCode, rType, rText, rUrl, rTip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from erpright
    where rCode = #{rcode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from erpright
    where rCode = #{rcode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zking.erp.model.ErpRight" >
    insert into erpright (rCode, rParentCode, rType, 
      rText, rUrl, rTip)
    values (#{rcode,jdbcType=VARCHAR}, #{rparentcode,jdbcType=VARCHAR}, #{rtype,jdbcType=VARCHAR}, 
      #{rtext,jdbcType=VARCHAR}, #{rurl,jdbcType=VARCHAR}, #{rtip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.erp.model.ErpRight" >
    insert into erpright
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rcode != null" >
        rCode,
      </if>
      <if test="rparentcode != null" >
        rParentCode,
      </if>
      <if test="rtype != null" >
        rType,
      </if>
      <if test="rtext != null" >
        rText,
      </if>
      <if test="rurl != null" >
        rUrl,
      </if>
      <if test="rtip != null" >
        rTip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rcode != null" >
        #{rcode,jdbcType=VARCHAR},
      </if>
      <if test="rparentcode != null" >
        #{rparentcode,jdbcType=VARCHAR},
      </if>
      <if test="rtype != null" >
        #{rtype,jdbcType=VARCHAR},
      </if>
      <if test="rtext != null" >
        #{rtext,jdbcType=VARCHAR},
      </if>
      <if test="rurl != null" >
        #{rurl,jdbcType=VARCHAR},
      </if>
      <if test="rtip != null" >
        #{rtip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.model.ErpRight" >
    update erpright
    <set >
      <if test="rparentcode != null" >
        rParentCode = #{rparentcode,jdbcType=VARCHAR},
      </if>
      <if test="rtype != null" >
        rType = #{rtype,jdbcType=VARCHAR},
      </if>
      <if test="rtext != null" >
        rText = #{rtext,jdbcType=VARCHAR},
      </if>
      <if test="rurl != null" >
        rUrl = #{rurl,jdbcType=VARCHAR},
      </if>
      <if test="rtip != null" >
        rTip = #{rtip,jdbcType=VARCHAR},
      </if>
    </set>
    where rCode = #{rcode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.erp.model.ErpRight" >
    update erpright
    set rParentCode = #{rparentcode,jdbcType=VARCHAR},
      rType = #{rtype,jdbcType=VARCHAR},
      rText = #{rtext,jdbcType=VARCHAR},
      rUrl = #{rurl,jdbcType=VARCHAR},
      rTip = #{rtip,jdbcType=VARCHAR}
    where rCode = #{rcode,jdbcType=VARCHAR}
  </update>
</mapper>