<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.erp.mapper.StoreDetailMapper">
    <resultMap id="BaseResultMap" type="com.zking.erp.model.StoreDetail">
        <constructor>
            <idArg column="storedetailId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="storeId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="gId" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="sNum" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <!--自定义返回类型-->
    <resultMap id="oneToOne" type="com.zking.erp.model.StoreDetail">
        <id column="storedetailId" property="storedetailid"/>
        <result column="sNum" property="snum"/>
        <result column="stName" property="stname"/>
        <result column="gName" property="gname"/>
    </resultMap>
    <sql id="Base_Column_List">
    storedetailId, storeId, gId, sNum
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from storedetail
        where storedetailId = #{storedetailid,jdbcType=INTEGER}
    </select>
    <select id="getStoredetailByStoreIdAndGid" resultMap="oneToOne">
        select sd.storedetailId,s.stName,g.gName,sd.sNum from store s
        RIGHT JOIN storedetail sd on s.storeId=sd.storeId
        LEFT JOIN goods g on g.gId=sd.gId where 1=1
        <if test="null !=storeId">
            and s.storeId=#{storeId}
        </if>
        <if test="null !=gId">
            and g.gId=#{gId}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from storedetail
    where storedetailId = #{storedetailid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zking.erp.model.StoreDetail">
    insert into storedetail (storedetailId, storeId, gId, 
      sNum)
    values (#{storedetailid,jdbcType=INTEGER}, #{storeid,jdbcType=INTEGER}, #{gid,jdbcType=INTEGER}, 
      #{snum,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.zking.erp.model.StoreDetail">
        insert into storedetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storedetailid != null">
                storedetailId,
            </if>
            <if test="storeid != null">
                storeId,
            </if>
            <if test="gid != null">
                gId,
            </if>
            <if test="snum != null">
                sNum,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storedetailid != null">
                #{storedetailid,jdbcType=INTEGER},
            </if>
            <if test="storeid != null">
                #{storeid,jdbcType=INTEGER},
            </if>
            <if test="gid != null">
                #{gid,jdbcType=INTEGER},
            </if>
            <if test="snum != null">
                #{snum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zking.erp.model.StoreDetail">
        update storedetail
        <set>
            <if test="storeid != null">
                storeId = #{storeid,jdbcType=INTEGER},
            </if>
            <if test="gid != null">
                gId = #{gid,jdbcType=INTEGER},
            </if>
            <if test="snum != null">
                sNum = #{snum,jdbcType=INTEGER},
            </if>
        </set>
        where storedetailId = #{storedetailid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zking.erp.model.StoreDetail">
      update storedetail
      set storeId = #{storeid,jdbcType=INTEGER},
        gId = #{gid,jdbcType=INTEGER},
        sNum = #{snum,jdbcType=INTEGER}
      where storedetailId = #{storedetailid,jdbcType=INTEGER}
    </update>
    <update id="addStoredetailNum" parameterType="com.zking.erp.model.StoreDetail">
        update storedetail
        <set>
            <if test="gid != null and snum != null">
                sNum = #{snum,jdbcType=INTEGER} + sNum,
            </if>
        </set>
        where gId = #{gid,jdbcType=INTEGER}
    </update>
    <update id="cutStoredetailNum" parameterType="com.zking.erp.model.StoreDetail">
        update storedetail
        <set>
            <if test="gid != null and snum != null">
                sNum = #{snum,jdbcType=INTEGER} - sNum,
            </if>
        </set>
        where gId = #{gid,jdbcType=INTEGER}
    </update>
</mapper>